<template>
  <div class="bg-white">
    <div class="fixed-top">
<!--      <div class="header bg-dark">
        <section id="topbar" class="d-flex align-items-center">
          <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
              <i class="ni ni-email-83 text-white mr-3"><a href="mailto:contact@example.com"><span>administrator@scntv.com.np</span></a></i>
              <i class="ni ni-mobile-button text-white mr-3"><span>083-520552</span></i>
              <i class="ni ni-bell-55 text-white"><span>Toll free: 16608352008</span></i>
            </div>
            <div class="social-links d-flex align-items-center">
              <a href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
              <a href="#!"><i class="fab fa-fw fa-instagram"></i></a>
            </div>
          </div>
        </section>
      </div>-->
      <div>
        <section id="topbar" class="d-flex align-items-center">
          <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
              <i class="ni ni-email-83 text-white mr-3"><a href="mailto:contact@example.com"><span>administrator@scntv.com.np</span></a></i>
              <i class="ni ni-mobile-button text-white mr-3"><span>083-520557</span></i>
              <i class="ni ni-bell-55 text-white"><span>Toll free: 16608352008</span></i>
            </div>
            <div class="social-links d-flex align-items-center">
              <a href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
              <a href="#!"><i class="fab fa-fw fa-instagram"></i></a>
            </div>
          </div>
        </section>

        <base-nav
          v-model="showMenu"
          :transparent="false"
          menu-classes="justify-content-end"
          class="navbar-horizontal navbar-main navbar-top bg-secondary"
          expand="lg"
        >
          <div slot="brand" class="navbar-wrapper flex">
            <b-navbar-brand to="/">
              <!--          <h1><img src="img/brand/green.png"></h1>-->
              <h1 class="mt-2"> SCNTV </h1>
            </b-navbar-brand>
          </div>

          <template>
            <div class="navbar-collapse-header bg-white">
              <b-row>
                <b-col cols="6" class="collapse-brand">
                  <router-link to="/">
                    <!--                <h1><img src="img/brand/green.png"> </h1>-->
                    <h1> SCNTV </h1>
                  </router-link>
                </b-col>
                <b-col cols="6" class="collapse-close">
                  <button type="button" class="navbar-toggler" @click="showMenu = false">
                    <span></span>
                    <span></span>
                  </button>
                </b-col>
              </b-row>
            </div>
            <b-navbar-nav class="align-items-lg-center ml-lg-auto">
              <b-nav-item to="/">
                <span class="nav-link-inner--text"><h3 class="page-details">HOME</h3></span>
              </b-nav-item>
              <b-nav-item to="/service">
                <span class="nav-link-inner--text"><h3 class="page-details">SERVICE</h3></span>
              </b-nav-item>
              <b-nav-item to="/company">
                <span class="nav-link-inner--text"><h3 class="page-details">COMPANY</h3></span>
              </b-nav-item>
<!--              <b-nav-item to="/blocked-content">
                <span class="nav-link-inner&#45;&#45;text"><h3 class="page-details">BLOCKED CONTENT</h3></span>
              </b-nav-item>-->
              <b-nav-item to="/contact">
                <span class="nav-link-inner--text"><h3 class="page-details">CONTACT</h3></span>
              </b-nav-item>
              <!--           <b-nav-item to="/">
                           <span class="nav-link-inner&#45;&#45;text"><h3 class="page-details">BLOCKED CONTENT</h3></span>
                         </b-nav-item>-->
            </b-navbar-nav>
          </template>
        </base-nav>
      </div>
    </div>

    <div class="main-content">
      <router-view></router-view>
    </div>

    <footer class="py-5 bg-dark" id="footer-main">
      <b-container >
        <b-row class="justify-content-left mb-5 w-100">
          <b-col cols="12" class="text-center">
            <router-link to="/">
              <h1 class="second-heading text-white-50 mb-5">Surkhet NetTv</h1>
            </router-link>
          </b-col>
          <b-col cols="4" class="text-center">
            <h1 class="text-white-50">SCNTV</h1>
            <router-link to="/service">
              <p>Service</p>
            </router-link>
            <router-link to="/company">
              <p>Company</p>
            </router-link>
          </b-col>
          <b-col cols="4" class="text-center">
            <h1 class="text-white-50">Quick Links</h1>
            <router-link to="/">
              <p>Login</p>
            </router-link>
            <router-link to="/contact">
              <p>Contact us</p>
            </router-link>
          </b-col>
          <b-col cols="4" class="text-center">
            <h1 class="text-white-50">Quick Links</h1>
<!--            <router-link to="/blocked-content">
              <p>Blocked Content</p>
            </router-link>-->
            <router-link to="/terms-and-conditions">
              <p>Terms & Conditions</p>
            </router-link>
          </b-col>
          <b-col cols="12" class="text-center mt-3">
            <div>
              <base-button class="btn-facebook btn-icon-only" onclick="window.location.href='https://www.facebook.com">
                <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
              </base-button>
              <!--              <base-button class="btn-twitter btn-icon-only" onclick="window.location.href='https://twitter.com/APPLYJOBPVTLTD'">
                              <span class="btn-inner&#45;&#45;icon"><i class="fab fa-twitter"></i></span>
                            </base-button>
                            <base-button class="btn-google-plus btn-icon-only" onclick="window.location.href='https://www.linkedin.com/company/applyjobcom'">
                              <span class="btn-inner&#45;&#45;icon"><i class="fab fa-linkedin"></i></span>
                            </base-button>-->
              <base-button class="btn-instagram btn-icon-only" onclick="window.location.href='https://www.instagram.com'">
                <span class="btn-inner--icon"><i class="fab fa-instagram"></i></span>
              </base-button>
              <!--              <base-button class="btn-google-plus btn-icon-only" onclick="window.location.href='https://www.youtube.com/channel/UCBm2M5eYxuZcUuFdnm3w-qg?sub_confirmation=1'">
                              <span class="btn-inner&#45;&#45;icon"><i class="fab fa-youtube"></i></span>
                            </base-button>-->
            </div>


          </b-col>
        </b-row>
        <hr style="border: 1px solid white;">
        <b-row class="justify-content-left w-100">
          <b-col cols="12" class="text-center">
            <div class="copyright text-center text-muted">
              © 2021 || <router-link to="/">SCNTV</router-link>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </footer>

  </div>
</template>
<script>
import { BaseNav } from '@/components';
import { ZoomCenterTransition } from 'vue2-transitions';

export default {
  components: {
    BaseNav,
    ZoomCenterTransition
  },
  props: {
    backgroundColor: {
      type: String,
      default: 'black'
    }
  },
  data() {
    return {
      showMenu: false,
      menuTransitionDuration: 250,
      pageTransitionDuration: 200,
      year: new Date().getFullYear(),
      pageClass: 'login-page'
    };
  },
  computed: {
    title() {
      return `${this.$route.name} Page`;
    }
  },
  methods: {
    toggleNavbar() {
      document.body.classList.toggle('nav-open');
      this.showMenu = !this.showMenu;
    },
    closeMenu() {
      document.body.classList.remove('nav-open');
      this.showMenu = false;
    },
    setBackgroundColor() {
      document.body.classList.add('bg-default');
    },
    removeBackgroundColor() {
      document.body.classList.remove('bg-default');
    },
    updateBackground() {
      if (!this.$route.meta.noBodyBackground) {
        this.setBackgroundColor();
      } else {
        this.removeBackgroundColor()
      }
    }
  },
  beforeDestroy() {
    this.removeBackgroundColor();
  },
  beforeRouteUpdate(to, from, next) {
    // Close the mobile menu first then transition to next page
    if (this.showMenu) {
      this.closeMenu();
      setTimeout(() => {
        next();
      }, this.menuTransitionDuration);
    } else {
      next();
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler: function () {
        this.updateBackground()
      }
    }
  }
};
</script>
<style lang="scss">
$scaleSize: 0.8;
@keyframes zoomIn8 {
  from {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
  100% {
    opacity: 1;
  }
}

.main-content .zoomIn {
  animation-name: zoomIn8;
}

@keyframes zoomOut8 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
}

.main-content .zoomOut {
  animation-name: zoomOut8;
}
</style>
