<template>
  <div>
    <!-- Header -->
    <div class="header bg-white w-full flex justify-content-center align-items-center">
      <b-container class="mx-4 pb-5">
        <b-card align-v="center" class="flex justify-content-center bg-secondary border-2 ml-20 w-100">
          <b-card-body class="px-5 py-5 mx-12 my-20">
            <h1 class="text-black m-5">Create Content</h1>
            <b-form role="form">
              <b-row class="justify-content-left w-100">
                <b-col cols="6">
                  <base-input alternative
                              class="m-3"
                              name="name"
                              prepend-icon="ni ni-single-02"
                              placeholder="Name"
                              v-model="contentData.name">
                  </base-input>
                </b-col>
                <b-col cols="6">
                  <base-input alternative
                              class="m-3"
                              name="heading"
                              prepend-icon="ni ni-collection"
                              placeholder="Heading"
                              v-model="contentData.heading">
                  </base-input>
                </b-col>
                <b-col cols="6">
                  <base-input alternative
                              class="m-3"
                              name="buttonText"
                              prepend-icon="ni ni-collection"
                              placeholder="Button Text"
                              v-model="contentData.buttonText">
                  </base-input>
                </b-col>
                <b-col cols="6">
                  <base-input alternative
                              class="m-3"
                              name="buttonUrl"
                              prepend-icon="ni ni-collection"
                              placeholder="Button Url"
                              v-model="contentData.buttonUrl">
                  </base-input>
                </b-col>
                <b-col>
                <base-input alternative
                            class="m-3"
                            name="descriptionText"
                            prepend-icon="ni ni-lock-circle-open"
                            placeholder="descriptionText"
                            v-model="contentData.descriptionText">
                </base-input>
              </b-col>
                <b-col>
                  <template v-if="image">
                    <!-- Image Container -->
                    <div class="img-container w-64 mx-auto flex items-center justify-center">
                      <img :src="image" alt="img" class="responsive">
                    </div>

                    <!-- Image upload Buttons -->
                    <div class="modify-img flex justify-between my-5">
                      <input type="file" class="hidden" ref="updateImgInput" @change="updateCurrImg" accept="image/*" hidden>
                      <base-button class="mr-4"  @click="$refs.updateImgInput.click()">Update Image</base-button>
                      <base-button color="danger" @click="image = null">Remove Image</base-button>
                    </div>
                  </template>
                  <div class="upload-img mt-4" v-if="!image">
                    <input type="file" class="hidden" ref="uploadImgInput" @change="updateCurrImg" accept="image/*" hidden>
                    <base-button @click="$refs.uploadImgInput.click()">Upload Image</base-button>
                  </div>
                </b-col>
              </b-row>
              <div class="text-left">
                <base-button type="primary" native-type="submit" class="my-4">Save Content</base-button>
              </div>
            </b-form>
          </b-card-body>
        </b-card>
      </b-container>
    </div>
  </div>
</template>

<script>
import axios from "@/axios";

export default {
  data: () => {
    return {
      contentData: {
        name: '',
        heading: '',
        buttonText: '',
        buttonUrl: '',
        descriptionText: ''
      },
      image: null
    }
  },
  methods: {
    updateCurrImg(input) {
      if (input.target.files && input.target.files[0]) {
        this.contentData.image = input.target.files[0];
        var reader = new FileReader()
        reader.onload = e => {
          this.image = e.target.result
        }
        reader.readAsDataURL(input.target.files[0])
      }
    },
    async submitData() {
      let data = new FormData();
      data.append('name', this.contentData.name);
      data.append('heading', this.contentData.heading);
      data.append('buttonText', this.contentData.buttonText);
      data.append('buttonUrl', this.contentData.buttonUrl);
      data.append('descriptionText', this.contentData.descriptionText);
      data.append('image', this.contentData.image);
      this.customError = "";
      // this.$vs.loading();
      axios.get("/portals/createContentTable")
        .then((res) => {
          console.log(res);
          /*this.$vs.notify( {
            title: "Success",
            text: "Content created successfully."
          })
        this.$vs.loading.close()*/
        })
        .catch(err => {
          // this.$vs.loading.close()
          console.error(err)
        })
    }
  }
}
</script>

<style>

</style>
