<template>
  <div>
    <!-- Header -->
    <div id="banner-page" class="header pt-lg-7 bg-white w-full flex justify-content-center align-items-center">
      <div class="header-body flex items-center justify-center text-center">
        <div class="faq-jumbotron">
          <div class="ph-banner faq-jumbotron-content text-center lg:p-32 md:p-24 sm:p-16 py-16"
               :style="{ backgroundImage: `url('img/theme/cover-1.jpg')` }">
            <div class="ph-banner-inner-content flex items-center justify-center flex-wrap h-full">
              <div>
                <h1 class="mb-10 text-white text-bold w-full flex-center">GET READY FOR HIGH SPEED INTERNET</h1>
                <p class="text-white text-center">
                  We're bring high speed Internet to all our Customers, starting 2020.
                </p>
                <div class="text-center">
                  <base-button
                    outline
                    type="primary"
                    native-type="submit"
                    class="banner-button text-white mt-3 px-6"
                    @click="getNowHandler"
                  >GET NOW</base-button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--      Heading Content-->
    <div class="heading-content flex items-center justify-center text-center">
      <h1 class="text-bold w-full">Get ready for high speed Internet</h1>
      <p>
        Get ready for more potential,more opportunity and more of everything you expect from Surkhet NetTv (SCNTV).
        We're bring HIGH SPEED internet and 24/7 support to all our customers,starting in 2020.
      </p>
    </div>

    <!--    Package Content-->
    <PackageSection></PackageSection>

    <!--      Feedback from client Content-->
    <feedback-section></feedback-section>

    <!--    Form Section-->
    <b-container>
      <form-section></form-section>
    </b-container>
  </div>
</template>

<script>
import FeedbackSection from "./landing Page Content/FeedbackSection";
import FormSection from "./landing Page Content/FormSection";
import PackageSection from "@/views/Pages/landing Page Content/PackageSection";

export default {
  components: {
    FeedbackSection,
    FormSection,
    PackageSection
  },
  methods: {
    getNowHandler() {
      this.$router.push("/contact");
    }
  }
}
</script>
<style lang="scss">
.main-heading {
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
}

.second-heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

#banner-page {
  .faq-jumbotron-content {
    width:100%;
    background-size: cover;
    background-color: #74CAC2;
    height: 400px;
    @media screen and (max-width: 600px) {
      min-height: 500px;
      max-width: 600px;

    }
  }

  h1 {
    @media(min-width: 768px) {
      font-size: 45px;
    }
  }

  p {
    font-size: 18px;
  }

  .faq-bg {
    background-color: cyan;
  }
}

.ph-banner {
  position: relative;
  height: auto;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(65, 65, 65, 0.5);
  }
  @media (min-width: 768px) {
    height: 65vh;
  }

  h1 {
    padding: 120px 200px 0px;
    font-size: 45px;
    line-height: 1.2;
    @media only screen and (max-width: 895px) {
      padding:  120px 50px 0px;
      font-size: 45px;
    }
  }
  .ph-banner-inner-content {
    position: relative;
    z-index: 1;
  }
}
.banner-button {
  border-color: white;
}

.heading-content {
  padding: 80px 200px 0px;
  h1 {
    color: #184a73;
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}



</style>
