<template>
  <div>
    <div class="header bg-white w-full flex justify-content-center align-items-center">
      <b-container class="mx-10 pb-5 pt-5">
        <b-card align-v="center" class="flex justify-content-center bg-secondary border-2 ml-20 w-100">
          <b-card-body class="px-5 py-5 mx-12 my-20">
            <h1>Terms and Conditions</h1>
          </b-card-body>
        </b-card>
      </b-container>
    </div>
  </div>
</template>
