<template>
  <div>
    <b-container class="mb-5">
      <b-row class="justify-content-center w-100 mx-5">
        <b-col cols="12">
          <!--      Heading Content-->
          <div class="heading-company flex items-center justify-center text-center">
            <h1 class="text-bold w-full">Blocked Content</h1>
          </div>
        </b-col>
        <b-col cols="12">
          <p class="text-justify">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style lang="scss">
.heading-company {
  padding: 120px 200px 20px;
  color: #184a73;

  h1 {
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}
.company-image {
  float: right;
  height: 300px;
  width: 450px;
  padding-bottom: 15px;
}
</style>
