<template>
  <div>
    <!-- Header -->
    <div id="service-page" class="header pt-lg-7 bg-white w-full flex justify-content-center align-items-center">
      <div class="header-body  flex items-center justify-center text-center">
        <div class="faq-jumbotron">
          <div class="ph-service faq-jumbotron-content text-center lg:p-32 md:p-24 sm:p-16 py-16"
               :style="{ backgroundImage: `url('img/theme/paper-chain-people.png')` }">
            <div class="ph-service-inner-content flex items-center justify-center flex-wrap h-full">
              <div>
                <h3 class="text-white text-center">JOIN US</h3>
                <h1 class="text-white text-bold w-full flex-center">BE A PART OF OUR TEAM</h1>
                <p class="text-white text-center">
                  We are just a click away, get connected with us.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--      Services Content-->
    <b-container class="mt-5">
      <div class="heading-content flex items-center justify-center text-center">
        <h1 class="text-bold w-full">Get ready for high speed Internet</h1>

      </div>
    </b-container>

  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style lang="scss">
.main-heading {
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
}

.second-heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

#service-page {
  .faq-jumbotron-content {
    width:100%;
    background-size: cover;
    background-color: #74CAC2;
    height: 400px;
  }

  h1 {
    @media(min-width: 768px) {
      font-size: 45px;
    }
  }

  p {
    font-size: 18px;
  }

  .faq-bg {
    background-color: cyan;
  }
}

.ph-service {
  position: relative;
  height: auto;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(65, 65, 65, 0.5);
  }
  @media (min-width: 768px) {
    height: 65vh;
  }
  h3{
    padding: 120px 100px 0px;
    color: white;
  }
  h1 {
    padding: 0px 200px 0px;
    font-size: 45px;
    line-height: 1.2;
    @media (min-width: 768px) {
      font-size: 80px;
    }
  }
  .ph-service-inner-content {
    position: relative;
    z-index: 1;
  }
}
.banner-button {
  border-color: white;
}

.heading-content {
  padding: 80px 200px 0px;
  h1 {
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}

b-col {
  @media only screen and (min-width: 60rem) {
    .divider-right {
      border-right: 1px solid rgba(57, 115, 230, 0.3);
    }
  }

  @media only screen and (min-width: 60rem) {
    .divider-right {
      border-right-color: rgba(57, 115, 230, 0.3);
    }
  }
}

</style>
