<template>
  <div>
    <b-container class="mb-5">
      <b-row class="justify-content-center w-100 mx-5">
        <b-col cols="12">
        <!--      Heading Content-->
        <div class="heading-company flex items-center justify-center text-center">
          <h1 class="text-bold w-full">Company Profile</h1>
        </div>
        </b-col>
        <b-col cols="4">
          <p class="text-justify">
          Surkhet Cable Net TV establish in the year 2017, Surkhet net concentrates on providing fast internet speed with ftth solution.
          </p>
        </b-col>
        <b-col cols="8">
          <div class="w-full company-image">
            <b-img src="/img/theme/graphic-1.png"></b-img>
          </div>

        </b-col>
      </b-row>

    </b-container>
  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style lang="scss">
.heading-company {
  padding: 120px 200px 20px;
  color: #184a73;

  h1 {
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}
.company-image {
  float: right;
  height: 300px;
  width: 450px;
  padding-bottom: 15px;
}
</style>
