<template>
  <div>
    <!-- Header -->
    <div id="contact-page" class="header pt-lg-7 bg-white w-full flex justify-content-center align-items-center">
      <div class="header-body  flex items-center justify-center text-center">
        <div class="faq-jumbotron">
          <div class="ph-contact faq-jumbotron-content text-center lg:p-32 md:p-24 sm:p-16 py-16"
               :style="{ backgroundImage: `url('img/theme/contact-resize.jpg')` }">
            <div class="ph-content-inner-content flex items-center justify-center flex-wrap h-full">
              <div>
                <h3 class="text-white text-center">CONTACT US</h3>
                <h1 class="text-white text-bold w-full flex-center">WE'D LOVE HEARING FROM YOU</h1>
                <p class="text-white text-center">
                  We are just a step away, get connected with us.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--      Services Content-->
    <b-container>
      <div class="flex items-center justify-center my-4">
        <div class="text-center">
          <h1>We are just a step away from you</h1>
        </div>
        <b-card
          align-v="center"
          class="
            flex
            justify-content-center
            bg-secondary
            border-2
            my-5
    "
        >
          <b-card-body class="px-4 py-2 m-12">
            <b-row class="justify-content-left">
              <b-col cols="4" class="table-content-col">
                <p>Want to contact us. Here's our details</p>
                <i class="ni ni-mobile-button mb-3"><span> 083-520552</span></i><br>
                <i class="ni ni-bell-55 mb-3"><span> Toll-free: 16608352008</span></i><br/>
                <i class="ni ni-email-83 mb-3"><a href="mailto:contact@example.com"><span> administrator@scntv.com.np</span></a></i><br/>
                <i class="ni ni-pin-3 mb-3"><span> Surkhet, Nepal</span></i>
              </b-col>
              <b-col cols="8">
                <p>Please use the following form to contact us with any questions or concerns. One of our representatives will get back to you as soon as possible.</p>
                <validation-observer v-slot="{ handleSubmit }" ref="formValidator">
                  <b-form role="form" @submit.prevent="handleSubmit(submitData)">
                    <b-row class="justify-content-left">
                      <b-col cols="12" class="mt-3">
                        <base-input
                          name="Full Name"
                          :rules="{ required: true }"
                          prepend-icon="ni ni-single-02"
                          placeholder="Full Name"
                          v-model="formData.name"
                        >
                        </base-input>
                      </b-col>
                      <b-col cols="12">
                        <base-input
                          name="Email Address"
                          :rules="{ required: true, email: true  }"
                          prepend-icon="ni ni-email-83"
                          placeholder="Email Address"
                          v-model="formData.email"
                        >
                        </base-input>
                      </b-col>
                      <b-col cols="12">
                        <base-input label="Message" name="Message" :rules="{ required: true}">
                          <textarea class="form-control" rows="5"  v-model="formData.message"></textarea>
                        </base-input>
                      </b-col>
                    </b-row>
                    <div class="text-center">
                      <base-button type="primary" native-type="submit" class="mt-3 px-8"
                      >SUBMIT</base-button
                      >
                    </div>
                  </b-form>
                </validation-observer>
                <div>
                  <b-alert
                    :show="dismissCountDownSuccess"
                    dismissible
                    variant="success"
                    @dismissed="dismissCountDownSuccess = 0"
                    @dismiss-count-down="countDownChangedSuccess"
                    class="m-3"
                  >
                    <p>Message submitted successfully.</p>
                  </b-alert>

                  <b-alert
                    :show="dismissCountDown"
                    dismissible
                    variant="warning"
                    @dismissed="dismissCountDown = 0"
                    @dismiss-count-down="countDownChanged"
                    class="m-3"
                  >
                    <p>Failed to submit message. Error: {{ error }}</p>
                  </b-alert>
                </div>
              </b-col>
            </b-row>
          </b-card-body>
        </b-card>
      </div>
    </b-container>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  components: {},
  data: () => {
    return {
      formData: {
        name: "",
        email: "",
        message: ""
      },
      successAlert: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDownSuccess: 0,
      showDismissibleAlert: false,
      error: "",
    }
  },
  methods: {
    ...mapActions("general", ["sendContactSectionEmail"]),

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    countDownChangedSuccess(dismissCountDownSuccess) {
      this.dismissCountDownSuccess = dismissCountDownSuccess;
    },
    async submitData() {
      let self = this;
      await this.sendContactSectionEmail(this.formData)
        .then(res => {
          this.dismissCountDownSuccess = this.dismissSecs;
          setTimeout(function () {
            self.$router.go();
          }, 1000);
        })
        .catch(err => {
          this.error = err.message;
          this.dismissCountDown = this.dismissSecs;
        })
    },
  }
}
</script>

<style lang="scss">
.main-heading {
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
}

.second-heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

#contact-page {
  .faq-jumbotron-content {
    width:100%;
    background-size: cover;
    background-color: #74CAC2;
    height: 400px;
  }
  @media screen and (max-width: 600px) {
    height: 500px;
    max-width: 600px;
  }

  h1 {
    @media(min-width: 768px) {
      font-size: 45px;
    }
    @media screen and (max-width: 895px) {
      padding:  0 100px 0px;
      font-size: 45px;
    }
  }

  p {
    font-size: 18px;
  }

  .faq-bg {
    background-color: cyan;
  }
}

.ph-contact {
  position: relative;
  height: auto;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(65, 65, 65, 0.5);
  }
  @media (min-width: 768px) {
    height: 65vh;
  }
  h3{
    padding: 120px 100px 0px;
    color: white;
  }
  h1 {
    padding: 0px 200px 0px;
    font-size: 45px;
    line-height: 1.2;
    @media (min-width: 768px) {
      font-size: 80px;
    }
  }
  .ph-service-inner-content {
    position: relative;
    z-index: 1;
  }
}
.banner-button {
  border-color: white;
}

.heading-content {
  padding: 80px 200px 0px;
  h1 {
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}

.table-content-col {
  @media only screen and (min-width: 597px) {
    max-width:  300px;
    margin-bottom: 10px;
  }
}

</style>
