<template>
  <div>
    <!-- Header -->
    <div id="service-page" class="header pt-lg-7 bg-white w-full flex justify-content-center align-items-center">
      <div class="header-body  flex items-center justify-center text-center">
        <div class="service-faq-jumbotron">
          <div class="ph-service service-faq-jumbotron-content text-center lg:p-32 md:p-24 sm:p-16 py-16"
               :style="{ backgroundImage: `url('img/theme/wallpaper2.jpg')` }">
            <div class="ph-service-inner-content flex items-center justify-center flex-wrap h-full">
              <div>
                <h5 class="text-white text-center">OUR SERVICES</h5>
                <h1 class="text-white text-bold w-full flex-center">WHAT WE OFFER</h1>
                <p class="text-white text-center">
                  For all your needs to get connected, here is what we offer
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--      Services Content-->
    <b-container class="mt-5 service-container">
      <b-row class="justify-content-left">

        <!--        connectivity plan-->
        <b-col cols="6" class="mb-5">
          <b-card
            align-v="center"
            class="
            service-migrate-wrapper
            flex
            justify-content-center
            bg-secondary
            border-2
          "
          >
            <b-card-body class="px-2 py-2 m-12">
              <h3 class="heading-text">Connectivity Plan</h3>
              <p>
                <i class="ni ni-bold-right"></i>
                Internet & Tv Plan</p>
              <p>
                <i class="ni ni-bold-right"></i>
                Dedicated Internet</p>
              <p>
                <i class="ni ni-bold-right"></i>
                Data Service</p>
              <p>
                <i class="ni ni-bold-right"></i>
                ICT Consultancy</p>
            </b-card-body>
          </b-card>
        </b-col>
        <!--        Corporate Plan-->
        <b-col cols="6" class="mb-5">
          <b-card
            align-v="center"
            class="
            service-migrate-wrapper
            flex
            justify-content-center
            bg-secondary
            border-2
          "
          >
            <b-card-body class="px-2 py-2 m-12">
              <h3 class="heading-text">Corporate Plan</h3>
              <p>
                <i class="ni ni-bold-right"></i>
                Corporate Plan</p>
            </b-card-body>
          </b-card>
        </b-col>

        <!--        television-->
        <b-col cols="6" class="mb-5">
          <b-card
            align-v="center"
            class="
            service-migrate-wrapper
            flex
            justify-content-center
            bg-secondary
            border-2
          "
          >
            <b-card-body class="px-2 py-2 m-12">
              <h3 class="heading-text">Television Connection</h3>
              <p>
                <i class="ni ni-bold-right"></i>
                Siddhartha Sanchar</p>
            </b-card-body>
          </b-card>
        </b-col>

        <!--others-->
        <b-col cols="6" class="mb-5">
          <b-card
            align-v="center"
            class="
            service-migrate-wrapper
            flex
            justify-content-center
            bg-secondary
            border-2
          "
          >
            <b-card-body class="px-2 py-2 m-12">
              <h3 class="heading-text">Others</h3>
              <p>
                <i class="ni ni-bold-right"></i>
                Ultra Boost</p>
              <p>
                <i class="ni ni-bold-right"></i>
                ViaSecure</p>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </b-container>

  </div>
</template>

<script>
export default {
  components: {}
}
</script>

<style lang="scss">
.main-heading {
  text-align: center;
  font-size: xxx-large;
  font-weight: bold;
}

.second-heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

#service-page {
  .service-faq-jumbotron-content {
    width:100%;
    background-size: cover;
    background-color: #74CAC2;
    height: 400px;
    @media screen and (max-width: 600px) {
      height: 450px;
      max-width: 600px;
    }
  }
}

.ph-service {
  position: relative;
  height: auto;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(65, 65, 65, 0.5);
  }
  @media (min-width: 768px) {
    height: 65vh;
  }
  h5{
    padding: 120px 100px 0px;
    @media screen and (max-width: 600px) {
      padding: 180px 100px 0px;
    }
  }
  h1 {
    padding: 0px 200px 0px;
    font-size: 45px;
    line-height: 1.2;
    @media screen and (max-width: 600px) {
      padding: 0px 50px 0px;
    }
  }
  .ph-service-inner-content {
    position: relative;
    z-index: 1;
  }
}
.banner-button {
  border-color: white;
}

.service-migrate-wrapper:hover {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
  -ms-transform: scale(1.045);
  transform: scale(1.045);
}
.service-migrate-wrapper {
  padding: 10px;
  min-height: 290px;
  min-width: 100px;
  transition: all 0.3s;
}



</style>
