<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body {
            font-family: Arial !important;
            font-style: normal !important;
            font-weight: normal !important;
            font-size: 20px !important;
            line-height: 26px !important;
            letter-spacing: -0.41px !important;
            color: #282C2E !important;
        }

        p {
            margin: 0 !important;
        }

        div.footer p {
            text-decoration: none;
            color: #888;
        }

        div.footer p a {
            text-decoration: none;
            color: #888;
        }
    </style>
</head>

<body>
<div style="max-width:600px; background: #fff; padding: 0 15px;">
    <div style="background:#fff;margin:0px auto;max-width:600px;">
        <table align="left" border="0" cellpadding="0" cellspacing="0" role="presentation"
               style="background:#fff;background-color:#fff;width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:0px;text-align:left;">

                    <div class="mj-column-per-40 mj-outlook-group-fix"
                         style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tbody>
                            <tr>
                                <td style="vertical-align:top;padding:0px;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="" width="100%">
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding-left: 0;padding-bottom: 30px;word-break:break-word;">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                       role="presentation"
                                                       style="border-collapse:collapse;border-spacing:0px;">
                                                    <tbody>
                                                    <tr>
                                                        <!--<td style="width:220px;"> <img
                                                                alt="header image" height="auto"
                                                                src="{{{appLogo}}}"
                                                                style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;margin-top:20px;"
                                                                width="220"> </td>-->
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="content" style="margin:0px auto; max-width:600px; font-size: 16px;">
        {{{content}}}
    </div>

    {{#if footer}}
        <hr style="margin-top: 30px; margin-bottom: 20px;">
        <div class="footer" style="margin:0px auto; max-width:600px; font-size: 13px;color: #888;">
            {{{footer}}}
        </div>
    {{/if}}
</div>
</body>

</html>
