<template>
  <div id="feedback-page" class="header pt-lg-7 bg-white w-full flex justify-content-center align-items-center">
    <div class="header-body  flex items-center justify-center text-center">
      <div class="faq-jumbotron">
        <div class="section-banner faq-jumbotron-content text-center lg:p-32 md:p-10 sm:p-16 py-10"
             :style="{ backgroundImage: `url('img/theme/wallpaper-gradient.jpg')` }">
          <div class="section-banner-inner-content flex items-center justify-center flex-wrap h-full">
            <div>
              <h1 class="text-white mb-3 text-bold w-full flex-center">Surkhet NetTv Customer Feedback</h1>
              <b-carousel
                id="carousel"
                :interval="0"
                controls
                indicators
                img-width="1024"
                img-height="500"
              >
                <div class="feedback-caption">
                <b-carousel-slide
                  class="feedback-section"
                  >
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <h1 class="w-full">
                    Chetan Rana</h1>
                  <p class="comment">
                    <i class="fas fa-quote-left mr-3"></i>
                    I am very happy with my internet connection of Surkhet NetTv. I have recommended the fast and reliable service of Surkhet NetTv
                    to all my friends and since then they have stopped the complaint on the sluggish internet. Just surf and be happy.
                    <i class="fas fa-quote-right ml-3"></i>
                  </p>
                </b-carousel-slide>
                <b-carousel-slide
                  class="feedback-section"
                  img-blank>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <h1 class="w-full">
                    Dipen Bhandari</h1>
                  <p class="comment">
                    <i class="fas fa-quote-left mr-3"></i>
                    I am very happy with my internet connection of Surkhet NetTv. I have recommended the fast and reliable service of Surkhet NetTv
                    to all my friends and since then they have stopped the complaint on the sluggish internet. Just surf and be happy.
                    <i class="fas fa-quote-right ml-3"></i>
                  </p>
                </b-carousel-slide>
                </div>
              </b-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "feedback-section"
}
</script>
<style lang="scss">
#feedback-page {
  .faq-jumbotron-content {
    width:100%;
    background-size: cover;
    background-color: #74CAC2;
    height: 400px;
    @media (max-width: 877px) and (min-width: 799px) {
      height: 450px;
    }
    @media (max-width: 650px) {
      height: 550px;
      max-width: 600px;
    }
  }

  h1 {
    font-size: 35px;
    @media screen and (max-width: 877px) {
      padding-left: 80px;
      padding-right: 80px;
      font-size: 30px;
    }
  }

  p {
    font-size: 18px;
  }

  .faq-bg {
    background-color: cyan;
  }
}
.section-banner {
  position: relative;
  height: auto;
  padding: 40px 0px 0px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(65, 65, 65, 0.5);
  }
  @media (min-width: 768px) {
    height: 65vh;
  }
  h1 {
    padding: 20px 200px 0px;
    font-size: 45px;
    line-height: 1.2;
    color: #b6effb;
    @media (min-width: 768px) {
      font-size: 80px;
    }
  }
  .section-banner-inner-content {
    position: relative;
    z-index: 1;
  }
}

.comment {
  font-family: sans-serif;
  font-style: italic;
  color: #CCCCCC;
}

.feedback-caption {
  @media (max-width: 650px) {
    margin-top: 50px;
    max-width: 600px;
  }
}

</style>
