<template>
  <div class="justify-content-left my-6 w-100">
    <h1 class="text-center">
      We would love to get in touch with you. <br>
      Leave us your details and our Marketing team will contact you.
    </h1>
    <b-card
      align-v="center"
      class="
            flex
            justify-content-center
            bg-secondary
            border-2
            my-5
    "
    >
      <b-card-body class="px-2 py-2 m-12">
        <validation-observer v-slot="{ handleSubmit }" ref="formValidator">
          <b-form role="form" @submit.prevent="handleSubmit(submitData)">
            <b-row class="justify-content-left">
              <b-col cols="6">
                <base-input
                  alternative
                  class="m-3"
                  name="Name"
                  :rules="{ required: true }"
                  prepend-icon="ni ni-single-02"
                  placeholder="Name"
                  v-model="formData.name"
                >
                </base-input>
              </b-col>
              <b-col cols="6">
                <base-input
                  alternative
                  class="m-3"
                  name="Email"
                  :rules="{ required: true, email: true  }"
                  prepend-icon="ni ni-email-83"
                  placeholder="Email"
                  v-model="formData.email"
                >
                </base-input>
              </b-col>
              <b-col cols="6">
                <base-input
                  alternative
                  class="m-3"
                  name="Mobile Number"
                  :rules="{ required: true, min: 10, max: 10, numeric: true }"
                  prepend-icon="ni ni-mobile-button"
                  placeholder="Mobile Number"
                  v-model="formData.contactNumber"
                >
                </base-input>
              </b-col>
              <b-col cols="6">
                <base-input
                  alternative
                  class="m-3"
                  name="Address"
                  :rules="{ required: true }"
                  prepend-icon="ni ni-pin-3"
                  placeholder="Address"
                  v-model="formData.address"
                >
                </base-input>
              </b-col>
              <b-col cols="6">
                <base-input
                  alternative
                  class="m-3"
                  name="City"
                  :rules="{ required: true }"
                  prepend-icon="ni ni-collection"
                  placeholder="City"
                  v-model="formData.city"
                >
                </base-input>
              </b-col>
              <b-col cols="6">
                <base-input
                  alternative
                  class="m-3"
                  name="District"
                  :rules="{ required: true }"
                  prepend-icon="ni ni-square-pin"
                  placeholder="District"
                  v-model="formData.district"
                >
                </base-input>
              </b-col>

              <b-col cols="6">
                <b-form-select
                  v-model="selectedInternetProvider"
                  :options="internetProviderOptions"
                  name="Internet Service Provider"
                  class="mt-4"
                  required
                >
                  <template #first>
                    <b-form-select-option :value="null" disabled
                    >Select Current Internet Service Provider</b-form-select-option
                    >
                  </template>
                </b-form-select>
              </b-col>
              <b-col cols="6">
                <b-form-select
                  v-model="selectedTvProvider"
                  :options="tvProviderOptions"
                  name="Internet Service Provider"
                  class="mt-4"
                  required
                >
                  <template #first>
                    <b-form-select-option :value="null" disabled
                    >Select TV Cable Provider</b-form-select-option
                    >
                  </template>
                </b-form-select>
              </b-col>
            </b-row>
            <div class="text-center">
              <base-button type="danger" native-type="submit" class="mt-6 px-8"
              >SUBMIT</base-button
              >
            </div>
          </b-form>
        </validation-observer>
        <div>
          <b-alert
            :show="dismissCountDownSuccess"
            dismissible
            variant="success"
            @dismissed="dismissCountDownSuccess = 0"
            @dismiss-count-down="countDownChangedSuccess"
            class="m-3"
          >
            <p>Form submitted successfully.</p>
          </b-alert>

          <b-alert
            :show="dismissCountDown"
            dismissible
            variant="warning"
            @dismissed="dismissCountDown = 0"
            @dismiss-count-down="countDownChanged"
            class="m-3"
          >
            <p>Failed to submit form. Error: {{ error }}</p>
          </b-alert>
        </div>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data: () => {
    return {
      formData: {
        name: "",
        email: "",
        contactNumber: "",
        address: "",
        city: "",
        district: "",
        internetProvider: "",
        tvProvider: "",
      },
      selectedInternetProvider: null,
      internetProviderOptions: [
        { value: "Mercantile Communications", text: "Mercantile Communications" },
        { value: "WorldLink Communication", text: "WorldLink Communication" },
        { value: "Subisu Cablenet", text: "Subisu Cablenet" },
        { value: "Web Surfer", text: "Web Surfer" },
        { value: "ClassicTech", text: "ClassicTech" },
        { value: "Broadlink", text: "Broadlink" },
        { value: "Netmax", text: "Netmax" },
        { value: "Radius Communications", text: "Radius Communications" },
        { value: "Nepal Telecom", text: "Nepal Telecom" },
        { value: "NCell", text: "NCell" },
        { value: "Vianet", text: "Vianet" },
        { value: "Otel", text: "Otel" },
        { value: "Others", text: "Others" },
        { value: "New Connection", text: "New Connection" },
      ],
      selectedTvProvider: null,
      tvProviderOptions: [
        { value: "NetTv", text: "NetTv" },
        { value: "DishHome", text: "DishHome" },
        { value: "Mero Tv", text: "Mero Tv" },
        { value: "Sky Cable", text: "Sky Cable" },
        { value: "Prabhu Tv", text: "Prabhu Tv" },
        { value: "Others", text: "Others" }
      ],
      successAlert: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDownSuccess: 0,
      showDismissibleAlert: false,
      error: "",
    }
  },
  methods: {
    ...mapActions("general", ["sendContactEmail"]),

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    countDownChangedSuccess(dismissCountDownSuccess) {
      this.dismissCountDownSuccess = dismissCountDownSuccess;
    },
    async submitData() {
      let self = this;
      this.formData.internetProvider = this.selectedInternetProvider;
      this.formData.tvProvider = this.selectedTvProvider;
      await this.sendContactEmail(this.formData)
        .then(res => {
          this.dismissCountDownSuccess = this.dismissSecs;
         setTimeout(function () {
            self.$router.go();
          },1000);
        })
        .catch(err => {
          this.error = err.message;
          this.dismissCountDown = this.dismissSecs;
        })
    },
    initValues() {
      this.formData = {
        name: "",
        email: "",
        contactNumber: "",
        address: "",
        city: "",
        district: "",
        internetProvider: "",
        tvProvider: "",
      };
      this.selectedTvProvider = null;
      this.selectedInternetProvider = null;
    }
  }

}
</script>
