<template>
  <div class="package-content flex items-center justify-center">
    <h1 class="text-bold w-full text-center">Our Packages</h1>
    <!--    first package-->
    <b-container class="py-4">
      <p align="right" style="margin-bottom: 0rem">*FUP Apply</p>
      <table width="100%" class="migrate-wrapper">
        <thead>
        <tr>
          <th class="text-center">{{firstPackage.title}}</th>
          <th class="text-center">Siddartha Sanchar TV</th>
          <th class="text-center">SafeNet</th>
          <th class="text-center">App</th>
          <th class="text-center">Time Back</th>
          <th class="text-center">WiFi Mobility</th>
          <th class="text-center">Price</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(item, index) in firstPackage.packageDetails">
          <tr v-bind:key="index" class="text-center">
            <td>{{ item.title }}</td>
            <td class="text-center">
              <div v-if="item.simTv === true">
                <i class="ni ni-tv-2"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.safeNet === true">
                <i class="fas fa-star"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.app === true">
                <i class="ni ni-check-bold"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.timeBack === true">
                <i class="ni ni-check-bold"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.wifiMobility === true">
                <i class="fas fa-wifi"></i>
              </div>
            </td>
            <td class="text-center">
              Rs. {{item.price}}/-
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </b-container>

    <!--    second package-->
    <b-container class="py-4">
      <p align="right" style="margin-bottom: 0rem">*FUP Apply</p>
      <table width="100%" class=" second-package migrate-wrapper">
        <thead>
        <tr>
          <th class="text-center">{{secondPackage.title}}</th>
          <th class="text-center">Siddartha Sanchar TV</th>
          <th class="text-center">SafeNet</th>
          <th class="text-center">App</th>
          <th class="text-center">Time Back</th>
          <th class="text-center">WiFi Mobility</th>
          <th class="text-center">Price</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(item, index) in secondPackage.packageDetails">
          <tr v-bind:key="index" class="text-center">
            <td>{{ item.title }}</td>
            <td class="text-center">
              <div v-if="item.simTv === true">
                <i class="ni ni-tv-2"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.safeNet === true">
                <i class="fas fa-star"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.app === true">
                <i class="ni ni-check-bold"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.timeBack === true">
                <i class="ni ni-check-bold"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.wifiMobility === true">
                <i class="fas fa-wifi"></i>
              </div>
            </td>
            <td class="text-center">
              Rs. {{item.price}}/-
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </b-container>

    <!--    third package-->
    <b-container class="py-4">
      <p align="right" style="margin-bottom: 0rem">*FUP Apply</p>
      <table width="100%" class="migrate-wrapper">
        <thead>
        <tr>
          <th class="text-center">{{thirdPackage.title}}</th>
          <th class="text-center">Siddartha Sanchar TV</th>
          <th class="text-center">SafeNet</th>
          <th class="text-center">App</th>
          <th class="text-center">Time Back</th>
          <th class="text-center">WiFi Mobility</th>
          <th class="text-center">Price</th>
        </tr>
        </thead>
        <tbody>
        <template v-for="(item, index) in secondPackage.packageDetails">
          <tr v-bind:key="index" class="text-center">
            <td>{{ item.title }}</td>
            <td class="text-center">
              <div v-if="item.simTv === true">
                <i class="ni ni-tv-2"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.safeNet === true">
                <i class="fas fa-star"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.app === true">
                <i class="ni ni-check-bold"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.timeBack === true">
                <i class="ni ni-check-bold"></i>
              </div>
            </td>
            <td class="text-center">
              <div v-if="item.wifiMobility === true">
                <i class="fas fa-wifi"></i>
              </div>
            </td>
            <td class="text-center">
              Rs. {{item.price}}/-
            </td>
          </tr>
        </template>
        </tbody>
      </table>
    </b-container>
<!--    conditions-->
    <b-container class="pt-4">
    <p><i class="fas fa-star"></i> For TV please contact SCNTV.</p>
    <p>** VAT is extra.</p>
    <p>** Refundable deposit will be returned only upon returning the Set-Top Box for SIM-TV and Router.</p>
    </b-container>
  </div>
</template>

<script>
export default {
  components: {},
  data: () => {
    return {
      firstPackage: {
        title: "15 Mbps",
        packageDetails: [
          {
            title: "1 Month",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "956"
          },
          {
            title: "3 Months",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "2,867"
          },
          {
            title: "12 Months",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "11,469"
          }
        ],
      },
      secondPackage: {
        title: "20 Mbps",
        packageDetails: [
          {
            title: "1 Month",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "1,239"
          },
          {
            title: "3 Months",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "3,717"
          },
          {
            title: "12 Months",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "14,867"
          }
        ]
      },
      thirdPackage: {
        title: "30 Mbps",
        packageDetails: [
          {
            title: "1 Month",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "1,416"
          },
          {
            title: "3 Months",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "4,248"
          },
          {
            title: "12 Months",
            simTv: true,
            safeNet: false,
            app: true,
            timeBack: false,
            wifiMobility: false,
            price: "16,991"
          }
        ],
      }
    }
  }
}
</script>

<style lang="scss">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #184a73;
  color: white;
}
td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

.second-package {
  th {
    background-color: #880612;
    color: white;
  }
}
  .main-heading {
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
  }

  .second-heading {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }

  .package-content {
    padding: 80px 20px 0px;
    h1 {
      font-size: 40px;
      color: #184a73;
      @media (min-width: 768px) {
        font-size: 40px;
      }
    }
  }

  b-col {
    @media only screen and (min-width: 60rem) {
      .divider-right {
        border-right: 1px solid rgba(57, 115, 230, 0.3);
      }
    }

    @media only screen and (min-width: 60rem) {
      .divider-right {
        border-right-color: rgba(57, 115, 230, 0.3);
      }
    }
  }

  .migrate-wrapper:hover {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);
    -ms-transform: scale(1.045);
    transform: scale(1.045);
  }
  .migrate-wrapper {
    transition: all 0.3s;
  }



</style>
