<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= webpackConfig.output.publicPath %>logofavicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Surkhet NetTv || SCNTV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--  <meta name=”viewport” content=”width=device-width, initial-scale=1.0">-->
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


  <!-- Vendor CSS Files -->
  <link href="../src/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../src/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../src/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../src/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../src/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../src/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../src/assets/css/style.css" rel="stylesheet">

</head>
<body>
<div class="wrapper" id="app">

</div>
<!-- built files will be auto injected -->

</body>
</html>
